


<!-- <nav id="navbarStyle" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dream Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a [routerLink]="['/home']">HOME</a>
      <a [routerLink]="['/about']">ABOUT</a>
      <a [routerLink]="['/project']">PROJECTS</a>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="welcome.do">
    <img src="https://live.staticflickr.com/65535/52029337243_b29a2f52f1_w.jpg" width="auto" height="75px" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [routerLink]="['/home']">HOME <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/about']">ABOUT<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/project']">PROJECTS</a>
        </li>

      </ul>

    </div>
  </nav>
