<h1>You Have {{getNumOfProjects()}} Active Projects </h1>
<h5>Show Completed Projects? <input type="checkbox" name="showComplete"  [(ngModel)]="showComplete"/></h5>

<table *ngIf="!selected" class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Project</th>
      <th>Budget</th>
      <th></th>
      <th>Completed</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="project.completed === true ? 'completed' : ''" *ngFor="let project of projects | incomplete:showComplete ">
      <td class='name' (click)="displayProject(project)">{{project.name}}</td>
      <td class='name' (click)="displayProject(project)">${{project.budget}}</td>
      <td><input type="checkbox" name="completed" (change)="updateProject(project)" [(ngModel)]="project.completed" /></td>
      <td>{{project.completed}}</td>
      <td><button class="btn btn-danger"(click)="deleteProject(project.id)">X</button></td>
    </tr>
  </tbody>
</table>

<div *ngIf="selected && !editProject">
  <p>{{selected.id}}</p>
  <p>{{selected.name}}</p>
  <p>{{selected.description}}</p>
  <p>{{selected.budget}}</p>
  <p>{{selected.imageUrl}}</p>
  <p>{{selected.startDate}}</p>
  <p>{{selected.endDate}}</p>
  <p>{{selected.completed}}</p>
  <button (click)="editProject = selected">Edit</button>
  <button (click)="displayTable()">Back</button>
</div>

<div *ngIf="editProject">
  <form>
    Name: <input type="text" name="name" [(ngModel)]="editProject.name">
    Description: <input type="text" name="description" [(ngModel)]="editProject.description">
    Budget: <input type="text" name="budget" [(ngModel)]="editProject.budget">
    imageUrl: <input type="text" name="imageUrl" [(ngModel)]="editProject.imageUrl">
    Start Date: <input type="datetime-local" name="startDate" [(ngModel)]="editProject.startDate">
    End Date: <input type="datetime-local" name="endDate" [(ngModel)]="editProject.endDate">
    <button (click)="updateProject(editProject)">Save</button>
    <button (click)="editProject = null">Cancel</button>
  </form>
</div>

<div>
  <form *ngIf="!selected">
    Name: <input type="text" name="name" [(ngModel)]="newProject.name"><br>
    Description: <input type="text" name="description" [(ngModel)]="newProject.description"><br>
    Budget: <input type="text" name="budget" [(ngModel)]="newProject.budget"><br>
    imageUrl: <input type="text" name="imageUrl" [(ngModel)]="newProject.imageUrl"><br>
    Start Date: <input type="datetime-local" name="startDate" [(ngModel)]="newProject.startDate"><br>
    End Date: <input type="datetime-local" name="endDate" [(ngModel)]="newProject.endDate"><br>
    <button (click)="addProject(newProject)">Save</button>
    <button (click)="editProject = null">Cancel</button>
  </form>
</div>



